<a href="https://colab.research.google.com/github/fabagaipo/cmsc170/blob/main/A2_AI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Import Libraries

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

## Preprocessing

In [ ]:
data = pd.read_csv('AI DATA.csv')

In [ ]:
data.head()

   Year              County     Month     Species  Action
0  1926  DEL NORTE HUMBOLDT   January  Cultus Cod   False
1  1926  DEL NORTE HUMBOLDT  February  Cultus Cod   False
2  1926  DEL NORTE HUMBOLDT     March  Cultus Cod   False
3  1926  DEL NORTE HUMBOLDT     April  Cultus Cod   False
4  1926  DEL NORTE HUMBOLDT       May  Cultus Cod    True

In [ ]:
data.shape

(576, 5)

In [ ]:
year = data['Year'].unique()

In [ ]:
year

array([1926, 1927, 1928, 1930, 1932])

In [ ]:
for i in range(0, len(year)):
  data.loc[data["Year"] == year[i], "Year"] = i

In [ ]:
data.head()

   Year              County     Month     Species  Action
0     0  DEL NORTE HUMBOLDT   January  Cultus Cod   False
1     0  DEL NORTE HUMBOLDT  February  Cultus Cod   False
2     0  DEL NORTE HUMBOLDT     March  Cultus Cod   False
3     0  DEL NORTE HUMBOLDT     April  Cultus Cod   False
4     0  DEL NORTE HUMBOLDT       May  Cultus Cod    True

In [ ]:
county = data['County'].unique()

In [ ]:
county

array(['DEL NORTE HUMBOLDT', 'MENDOCINO SONOMA LAKE', 'MARIN',
       'LOS ANGELES', 'SANTA CRUZ', 'SOLANO YOLO',
       'SACRAMENTO SAN JOAQUIN', 'ALAMEDA CONTRA COSTA', 'EUREKA'],
      dtype=object)

In [ ]:
for i in range(0, len(county)):
  data.loc[data["County"] == county[i], "County"] = i

In [ ]:
data.head()

   Year County     Month     Species  Action
0     0      0   January  Cultus Cod   False
1     0      0  February  Cultus Cod   False
2     0      0     March  Cultus Cod   False
3     0      0     April  Cultus Cod   False
4     0      0       May  Cultus Cod    True

In [ ]:
months = data['Month'].unique()

In [ ]:
months

array(['January', 'February', 'March', 'April', 'May', 'June', 'July',
       'August', 'September', 'October ', 'November', 'December'],
      dtype=object)

In [ ]:
for i in range(0, len(months)):
  data.loc[data["Month"] == months[i], "Month"] = i + 1

In [ ]:
data.head()

   Year County Month     Species  Action
0     0      0     1  Cultus Cod   False
1     0      0     2  Cultus Cod   False
2     0      0     3  Cultus Cod   False
3     0      0     4  Cultus Cod   False
4     0      0     5  Cultus Cod    True

In [ ]:
species = data['Species'].unique()

In [ ]:
species

array(['Cultus Cod', 'Flounders ', 'Halibut ', 'Herring ', 'Mackerel ',
       'Perch ', 'Rockfish ', 'Sablefish', 'Salmon', 'Smelt ', 'Sole ',
       'Whitebait ', 'Miscellaneous ', 'Crabs ', 'Clams ', 'Cuttlefish '],
      dtype=object)

In [ ]:
for i in range(0, len(species)):
  data.loc[data["Species"] == species[i], "Species"] = i

In [ ]:
data.head()

   Year County Month Species  Action
0     0      0     1       0   False
1     0      0     2       0   False
2     0      0     3       0   False
3     0      0     4       0   False
4     0      0     5       0    True

In [ ]:
actions = data['Action'].unique()

In [ ]:
for i in range(0, len(actions)):
  data.loc[data["Action"] == actions[i], "Action"] = i

In [ ]:
data.head()

   Year County Month Species Action
0     0      0     1       0      0
1     0      0     2       0      0
2     0      0     3       0      0
3     0      0     4       0      0
4     0      0     5       0      1

## Creating of Dataset

In [ ]:
input_data = data[['Year', 'County', 'Month', 'Species']]

In [ ]:
label_data = data[['Action']]

In [ ]:
input_data.shape

(576, 4)

In [ ]:
label_data.shape

(576, 1)

In [ ]:
train_X, test_X, train_Y, test_Y = train_test_split(input_data, label_data, test_size=0.3, random_state=1)

In [ ]:
train_X.shape

(403, 4)

In [ ]:
train_Y = train_Y['Action'].tolist()

In [ ]:
test_Y = test_Y['Action'].tolist()

In [ ]:
test_X.shape

(173, 4)

## Training and Testing of Model

In [ ]:
model = GaussianNB()

In [ ]:
model.fit(train_X, train_Y)

GaussianNB()

In [ ]:
pred_Y = model.predict(test_X)

In [ ]:
pred_Y

array([0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1])

In [ ]:
test_Y

[1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1]

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
print(classification_report(test_Y, pred_Y))

              precision    recall  f1-score   support

           0       0.50      0.59      0.54        81
           1       0.57      0.48      0.52        92

    accuracy                           0.53       173
   macro avg       0.54      0.54      0.53       173
weighted avg       0.54      0.53      0.53       173